table {
  border-spacing: 0;

  tr {
    td {
      font-size: 2rem;
      height: 3rem;
      text-align: center;
      width: 3rem;
      border-right: 1px solid black;
      border-bottom: 1px solid black;

      &:last-child {
        border-right: none;
      }
    }

    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}